{% extends 'base.html.twig' %}

{% block header %}

    {% include 'inc/sidebar.html.twig' %}

{% endblock %}


{% block body %}

    <div class="pagedash">
        <div class="formrecept">
            <p>Enlever Stock*</p>

            {{ form_start(vinsForme)}}

            {{ form_widget(vinsForme)}}

            <button>Create !</button>

            {{ form_end(vinsForme)}}

        </div>
    </div>

{% endblock %}