


h1 {
    color: var(--principal);
    text-align: center;
    text-transform: uppercase;
}

html {
    height: 100%;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--backlogin);
    box-sizing: border-box;
    box-shadow: 0 15px 25px var(--boxShadow);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--border);
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--border);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--border);
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--border);
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--principal);
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--principal);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

#btnForm {
    text-align: center;
    height: 30px;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    border-radius: 5px;
    border: 1px solid var(--principal);
    text-transform: uppercase;

}

#btnForm:hover {
    background: var(--principal);
}

#btnFormcave {
    text-align: center;
    height: 30px;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    border-radius: 5px;
    border: 1px solid var(--principal);
    text-transform: uppercase;
    margin-top: 10px;
}


#btnFormCave:hover {
    background: var(--principal);
}

/* Style de base pour le conteneur du formulaire */
.form-group {
    margin-bottom: 15px;
}

/* Style de base pour le label */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style de base pour le sélecteur (dropdown) */
.dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--verylightgrey);
    border-radius: 4px;
    background-color: var(--secondaire);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

/* Style pour le conteneur des erreurs */
.form-group .form-error {
    color: var(--flasherror);
    font-size: 14px;
    margin-top: 5px;
}

/* Style pour le sélecteur au survol */
.dropdown:hover {
    border-color: var(--hover);
}

/* Style pour le sélecteur lorsqu'il est focus */
.dropdown:focus {
    border-color: var(--btnhover);
    box-shadow: 0 0 5px var(--btnhover);
    outline: none;
}

/* Style pour les options du sélecteur */
.dropdown option {
    padding: 10px;
    font-size: 16px;
}

.forminvent {
    margin: 80px auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border);
    max-height: 100%;
    height: 50%;
    width: 40%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.forminvent p {
    text-transform: uppercase;
    font-size: 2em;
    padding: 5%;

}

.forminvent label {
    display: block;
    margin: 4% auto 2% auto;
}

.forminvent input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--border);
    background-color: transparent;
    margin-bottom: 4%;
}

.forminvent input:focus {
    outline: none;

}

.forminvent button {
    width: 100%;
    height: 30px;
    margin: 30px auto auto auto;
    border-radius: 15px;
    background: var(--principal);
    cursor: pointer;

}

#scanner-container {
    width: 10%;
    height: 50px;
    background-color: transparent;
}


.ajoutcb {
     margin: 80px auto auto auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 1px solid var(--border);
     height: auto;
     max-width: 100%;
     width: 40%;
     border-radius: 15px;
     background-color: rgba(255, 255, 255, 0.5);
}

.ajoutcb p {
    text-transform: uppercase;
    font-size: 2em;
    padding: 5%;
}

.ajoutcb label {
    display: block;
    margin: 4% auto 2% auto;
}

.ajoutcb input {
    width: 60%;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--border);
    background-color: transparent;
    margin-bottom: 4%;
}

.ajoutcb input:focus {
    outline: none;

}

.ajoutcb button {
    width: 80%;
    height: 30px;
    margin: 10px auto auto auto;
    border-radius: 15px;
    background: var(--principal);
    cursor: pointer;
    color: white;
}

.ajoutcb canvas {
    margin: 2em auto 2em auto;
    max-height: 100%;
}

@media (max-width : 420px) {

    .forminvent {
        width: 90%;
    }

    .ajoutcb {
      width: 90%;
    }

    .login-box {
        top: 60%;
        left: 50%;
        width: 350px;
    }
}
@media (max-width : 540px) {

    .forminvent {
        width: 90%;
    }

    .ajoutcb {
        width: 90%;
    }

    .login-box {
        top: 60%;
        left: 50%;
        width: 350px;
    }
}

@media (max-width : 768px) {

    .forminvent {
        width: 90%;
    }

    .ajoutcb {
        width: 90%;
    }

    .login-box {
        top: 60%;
        left: 50%;
        width: 350px;
    }
}

@media (max-width : 820px) {

    .forminvent {
        width: 90%;
    }

    .ajoutcb {
        width: 90%;
    }

    .login-box {
        top: 60%;
        left: 50%;
        width: 350px;
    }
}

@media (max-width : 1180px) {

    .forminvent {
        width: 90%;
    }

    .ajoutcb {
        width: 90%;
    }

    .login-box {
        top: 60%;
        left: 50%;
        width: 350px;
    }
}
